
/build/

.vscode/

/.devcontainer/

sdkconfig.old
sdkconfig.backup

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.log
*.elf
*.bin

venv/
.env/

.DS_Store

*.pyc
*.pyo
__pycache__/

notes.txt